pandas==1.0.0
pyarrow==2.0.0
Flask==1.1.2
gunicorn==19.9.0
Flask-Testing==0.8.0
google-api-core==1.24.1
google-auth==1.24.0
google-cloud-bigquery==2.6.2
idna==2.9
isort==5.5.1
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
pyrsistent==0.16.0
python-dateutil==2.8.1
urllib3==1.25.9
Werkzeug==0.16.1
